#logo {
  position: absolute;
  left: 10px;
  top: 10px;
}

.navbar {
    margin: 0;
}

.content {
    background-color: #000;
    color: #fff;
}

.br {
    width: 100%;
    height: 50px;
    background: #000;
}








